# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon?

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-workspace
.sublime-project

# Logs
*.log
npm-debug.log*
